:root {
  --background-color: #ffffff;
  --footer-color: #2f303a;
  --main-background-color: #f5f5f5;
  --second-background-color: #f5f4fa;
  --maintext-color: #212121;
  --accent-color: #2196f3;
  --accent-second-color: #333333;
  --paragraph-color: #757575;
  --text-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
  --group-color: #eeeeee;
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}

body {
  /**основные**/
  background-color: var(--background-color);
  color: var(--maintext-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  color: var(--text-color);
  font-weight: 700;
  font-family: var(--second-font);
  font-style: normal;
  line-height: 1.2;
  font-size: 26px;
  text-decoration: none;
  display: inline-block;
}

.header-studio {
  background-color: var(--background-color);
}
.button-serv {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: inherit;
  border: none;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  margin: 0;
}
.header {
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.addr-color {
  font-style: normal;
  color: var(--background-color);
}
.mat-color {
  text-decoration: none;
  color: var(--address-color);
}
.navigation-item {
  color: var(--maintext-color);
  text-decoration: none;
  padding: 32px, 0;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.navigation-item + .navigation-item {
  margin-left: 50px;
}
.logo-blue {
  text-decoration: none;
  color: var(--accent-color);
}
.contacts-item {
  text-decoration: none;
  color: var(--paragraph-color);
  width: 122px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.list {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}
.team {
  background-color: var(--second-background-color);
}
.navigation-item:hover,
.navigation-item:focus {
  color: var(--accent-color);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}
.filter-item {
  /*кнопки фильтра портфолио*/

  border: 0;
  background-color: var(--second-background-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--maintext-color);
  cursor: pointer;
}
.filter-item:hover,
.filter-item:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}
/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.button-serv {
  background-color: var(--accent-color);
  color: var(--main-background-color);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  /* identical to box height, or 188% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.solutions {
  background-color: var(--footer-color);
  color: var(--background-color);
  margin-bottom: 47px;
}

.title {
  /*заголовок проектов в порфолио*/

  font-size: 18px;
  font-weight: 700;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.title-char {
  /*заголовок характеристик в студия*/
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: left;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.txt-char {
  /*текст характеристик в студия*/

  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--paragraph-color);
}
.title-why {
  /*заголовок чем мы занимаемя( и наша команда) в студия*/

  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.text {
  /*текст в проектах портфолио*/
  font-family: inherit;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--paragraph-color);
}
.team-name {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--maintext-color);
}
.team-prof {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--paragraph-color);
}
.foot {
  padding: 60px, 0;
}
.logo-footer {
  padding-bottom: 20px;
}
.address {
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-align: left;
}

.list .address:hover,
.list .mat-color:hover,
.list .address:focus,
.list .mat-color:focus {
  color: var(--accent-color);
}
.foot,
.foot .logo,
.foot .address {
  background-color: var(--footer-color);
  color: var(--background-color);
}
